* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.li1 {
  /* font-size: 9px; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  color: black;
  border-right: 1px solid black;
  padding: 10px;
}
.body {
  background-color: #fff;
}
.ul1 {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  /* padding: 0 20px; */
}
.navy-border {
  position: sticky;
  top: 0px;
  background-color: #2e3092;
}
.navy {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}
.logo {
  align-items: center;
  display: flex;
  padding: 20px 0;
}
.mygov {
  border-right: 1px solid #fff;
  padding: 0 10px;
}
.ncc-logo {
  padding: 0 10px;
}
img {
  height: auto;
  width: 100%;
}
.head {
  display: flex;
  justify-content: flex-end;
}
.ul2 {
  /* font-size: 9px; */
  margin-left: 80px;
  display: flex;
  align-items: center;
  list-style: none;
}
.li {
  border-radius: 2px;
  padding: 7px;
  margin: 0 10px;
  background-color: white;
  color: navy;
}
.li2 {
  /* font-size: 9px; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  color: white;
  padding: 0 12px;
}
.full {
  display: flex;
  justify-content: space-between;
}
#home {
  padding: 2px 12px;
  border-top: 2px solid red;
  border-bottom: 2px solid skyblue;
}

.non-stop {
  align-items: center;
  display: flex;
  /* margin: 0 200px; */
  padding: 0 20px;
  height: 90px;
  justify-content: space-evenly;
}
.non-stop .letter {
  display: flex;
  color: NAVY;
  /* font-size: 9px; */
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", */
  /* "Lucida Sans", Arial, sans-serif; */
  /* font-weight: 115px; */
}
.non-stop .first {
  color: #00aeef;
  padding: 0 5px;
}
.wrap .num {
  font-size: 30px;
  color: rgb(243, 43, 8);
  margin-left: 35px;
  margin-bottom: 2px;
}
.wrap i {
  margin-bottom: 2px;
  padding-left: 5px;
  margin-left: 3px;
}
.wrap .num.icon {
  margin-left: 2px;
  color: white;
}
.letter.visit {
  margin-left: 19px;
}

.title {
  display: flex;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-size: 9px; */
  color: #fff;
  margin-left: 20px;
}
.ncc-bg .ncc {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}
.ncc-bg .ncc .red {
  background-color: red;
  height: 40px;
  width: 13px;
}
.ncc-bg .ncc .navy {
  background-color: #2e3092;
  height: 40px;
  width: 13px;
}
.ncc-bg .ncc .sky {
  background-color: #00aeef;
  height: 40px;
  width: 13px;
}
.ncc-contain {
  background-color: #2e3092;
}
.ncc-bg {
  padding-top: 90px;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}
.ncc-bg .paragraph {
  display: flex;
  margin: 0 20px;
  padding: 10px 15px 60px 0;
  justify-content: space-between;
}
.ncc-bg span {
  max-width: 50%;
  color: #fff;
  padding: 0 20px;
  word-spacing: 4px;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-size: 9px; */
}
.main-corner {
  margin-top: 60px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 2px red;
  justify-content: center;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 30px;
  font-style: normal;
  color: red;
}
.main-corner .red {
  background-color: red;
  height: 35px;
  width: 10px;
}
.main-corner .navy {
  background-color: #2e3092;
  height: 35px;
  width: 10px;
}
.main-corner .sky {
  background-color: #00aeef;
  height: 35px;
  width: 10px;
  margin-right: 20px;
}
.corner .sub-title {
  text-align: center;
  margin-bottom: 60px;
  color: #595959;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-size: 10px; */
}
.corner {
  margin: 10px 10px 40px 10px;
  padding: 10px 20px;
  background-image: url(bw.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.corner .photoshoot {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.corner .photoshoot2 {
  display: flex;
  justify-content: space-between;
}
.photoshoot .start h3 {
  margin: 10px;
  /* font-family: Arial, Helvetica, sans-serif; */
  text-align: center;
  /* font-size: 9px; */
}
.photoshoot2 .end h3 {
  margin: 10px;
  /* font-family: Arial, Helvetica, sans-serif; */
  text-align: center;
  /* font-size: 9px; */
}
.exxperience {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}
.footer {
  padding: 15px;
  display: flex;
  margin: 0 auto;
  background-color: #010101;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.footer li {
  padding: 0 20px;
  height: 39px;
  list-style: none;
  border-right: 1px solid grey;
}
.rightbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100px;
  height: 145px;
  top: 35%;
  background-color: rgb(7, 7, 7);
  right: -25px;
  bottom: 20%;
}
